@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>A bit about us...</h2>

<div class="well">
    <p>Every once in a while, a shuttle arrives from a nearby free-trader, starship or a distant star system. Most of the time they drop off their otherworldly goods at our reputable space dock for us to buy or trade, the usual routine.

Sometimes, they bring uninvited ‘guests’ who partake in our many ‘games of chance’. On occasion, these ‘guests’ have been known to take on passengers (some not so willing) back to their ship.

Regardless, we don’t ask questions and they don’t give us problems. They’re mostly here for the games and the fizzy drinks. If you see one during your visit, pleeeze don’t meddle in their affairs. (Twitch!) It upsets relations with the Galaxy Trade Federation. Just enjoy the merch and the view. Oh, and by the way, check your blasters at the door.</p>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3 profile">
        <img src="~/img/owner.jpg" class="main-page-img"/>
        <p>Ronald Connell – Owner, Director of Fun</p>
    </div>
    <div class="col-xs-6 col-md-3 profile">
        <img src="~/img/toriGaliel.jpg" class="main-page-img" />
        <p>Tori Galiel - Team Leader – Rebel Alliance. Part-time Avenger.</p>
    </div>
    <div class="col-xs-6 col-md-3 profile">
        <img src="~/img/danyelleWebb.jpg" class="main-page-img" />
        <p>Danyelle Webb - Newest Team Member! – Rebel Alliance.</p>
    </div>
    <div class="col-xs-6 col-md-3 profile">
        <img src="~/img/jamesRoberts.jpg" class="main-page-img" />
        <p>James Roberts - Triple Agent. It’s a secret. Even HE doesn’t know who he works for.</p>
    </div>
</div>

