@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <h2>Contact Us</h2>

<h2>Other Worlds Games & Comics</h2>
<h3>6350 Sw Capitol Hwy,</h3>
<h3>Portland, OR 97239</h3>

<h3>Phone: 503-244-0290</h3>
<h3>Email: play@otherworldsgames.com</h3>
<div class="well">
    <div id="map" style="height:200px"></div>
</div>