@{
    ViewData["Title"] = "OtherWorldsGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="showcase">
</div>
<div class="container main-text">
    <h1>Games From Far Away Places</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a href="#" class="btn btn-primary">Read More</a>
</div>
