@{
    ViewData["Title"] = "OtherWorldsGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="showcase">
</div>
<div class="container main-text">
    <h1>Games From Far Away Places</h1>
    <p class="lead">Here at Other World’s Games & Comics, we carry many Sci-Fi/Fantasy/Adventure and Euro board games, although we also stock many mainstream games. Our emphasis is on unique, imaginative, strategic and puzzle-solving games you won’t find at larger big-box stores.</p>
    <a href="#" class="btn btn-primary">Read More</a>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel panel-heading">Look for upcoming events!</div>
            <div class="panel-body">
               <img src="~/img/calendar.jpg" class="main-page-img" />
                <a href="@Url.Action("Index", "Products")"><button class="btn btn-primary">Calendare</button></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel panel-heading">Visit Our Store!</div>
            <div class="panel-body">
                <img src="~/img/store.jpg" class="main-page-img" />
                <a href="@Url.Action("Calender", "Home")"><button class="btn btn-primary">Store</button></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel panel-heading">Learn about the store</div>
            <div class="panel-body">
                <img src="~/img/about.jpg" class="main-page-img" />
                <a href="@Url.Action("About", "Home")"><button class="btn btn-primary">About</button></a>
            </div>
        </div>
    </div>
</div>
