@{
    ViewData["Title"] = "Testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cutomers love Other Worlds Games</h1><br />

<h4>“Been going to Other World’s for years now. I have always enjoyed the atmosphere that game shop promotes and their great comic book selection.”</h4><br />

<h4>“Best comic shop evar”</h4><br />

<h4>“Our family loves this store! It is a great community center and provides kids a place to come play games, meet friends, and hang out in a safe and social environment. We love the regular competitions as well as the ability to just drop in for a casual game. The staff is knowledgeable and the owner friendly. Thanks for your contributions to the community Other Worlds Games!”
“Great service and availability”</h4><br />

<h4>“This is a great store! My son really enjoys their Magic tournaments. Recently, we have been going their weekly game nights on Thursday nights. It’s a great way for my son to meet new kids and check out games he has never played before.”</h4><br />

<h4>“The owner is always super-friendly and helpful, as are the other employees – it truly is the best example of a LOCAL game store, one that parents feel safe letting their kids hang out at.”</h4><br />

<h4>The owner was so nice and incredibly helpful. When a comic wasn’t available, he helped my two young kids find comics that would be fun and appropriate. Very good experience.</h4><br />

<h4>We loved having a greeter at the door to show us around and bring up good comic options. He told us how to set up a comic box and discussed the appropriate content for our young kids.</h4>
