@{
    ViewData["Title"] = "OtherWorldsGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Create" asp-controller="Category">
    <div class="form-control">
        <label for="Name">Category Name</label>
        <input asp-for="Name" class="form-group" />
    </div>
    <input type="submit" class="btn btn-primary" />
</form>
