@{
    ViewData["Title"] = "My Cart Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<OtherWorldsGames.Models.CartItem>
<h2>Here's what's in your cart</h2>

@{ 
    int amount = 0;
    @foreach(var item in Model)
    {
        amount += item.Quantity;
    }
    <p>@amount</p>
}
