@{
    ViewData["Title"] = "My Cart Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<OtherWorldsGames.Models.CartItem>

<h1>Thanks for Stopping By!</h1>
<h2>Here's Whats in your cart!</h2>
@*@foreach(var item in Model)
{
    @Html.DisplayFor(i => item.Product.Name)<br />
}*@

<div class="row">
    @{
        string Image = "";
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel panel-heading">@Html.DisplayFor(p => item.Product.Name)</div>
                    <div class="panel-body">
                        @if (item.Product.Image != null)
                        {
                            var base64 = Convert.ToBase64String(item.Product.Image);
                            Image = String.Format("data:image/gif;base64,{0}", base64);
                            <div>
                                <img height="300" width="300" src="@Image" />
                            </div>

                        }
                        <p>You have <span>@Html.DisplayFor(i => item.Quantity)</span> in your cart</p>                        
                    </div>
                </div>
            </div>
        }
    }

</div>

